@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
.scroll {
  transform: rotate(270deg);
}
.header-title {
  /* letter-spacing: 20px; */
  line-height: 1.25;
}
