@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.header-title {
  line-height: 1.25;
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.img-container:hover .overlay {
  opacity: 1;
}
.overlay {
  transition: all 0.4s ease-in-out;
}
.VER-TEXT {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
}
